/* CSS declarations go here */
body {
  /*background-color: #16ab84;*/
  background-color: #1ABC9C;
  padding-top: 40px;
}
li {
  list-style-type: none;
}
.translations {
  width: 40%;
}
.hero-unit {
  background-color: #16A085;
  text-align: center;
}
.hero-unit p {
  font-size: 20px;
}
.zebra ul li {
  background: #1ABC9C;
}
.zebra ul li:nth-child(odd) {
  background: #16A085;
}
.translations {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 400px;
  overflow: auto;
  border: 1px solid gray;
}

